<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>-->
        <title>Main board</title>
    </head>
    <body>
        <div class="navbar" id="navbar">

            <div class="appName">
                <h3 > APPs NAME </h3>
            </div>

            <div class="navMenu">
                <p> {{newFileText}} </p> <!-- FILE WRITING PANEL -->
                <p> {{uploadFileText}} </p> <!-- UPLOAD DROPBOX -->
                <p> {{myFilesText}} </p> <!-- SEE AND OPEN FILES -->
            </div>

            <div class="options">
                <span>
                    {{helloText}} <h4> {{username}} </h4> <!-- LOGIN when logged out -->
                </span>
                <p> {{optionsText}} </p>
                <p> {{loginText}} </p>
            </div>
        </div>
        <div class="background" id="panels">
            <h1> {{titleText}} </h1> <!-- OPTIONAL TEXTBAR -->
            <div v-if="page == newFile || page == myFilesChoosen" class="panel-nav">
                <a class="deleteBtn" href="#" > {{deleteText}} </a> <!-- //TODO: Add function for Delete button  -->
                <a class="saveBtn" href="#" v-if="isEdited"> {{saveText}} </a> <!-- //TODO: Add function for Save/Edit button  -->
                <a class="editBtn" href="#" v-else> {{editText}} </a> 
            </div>
            <div v-if-else="page == uploadFile"> 
                <!-- //TODO: Add buttons for dropzone if any-->
            </div>
            <div class="panel" id="#panel">
                <!-- Content -->
                <div id="textArea">
                    <editable :content="text" @update="text = $event" style="width:95%; height:95%; margin: auto; outline: 0px solid transparent;"></editable>
                </div>
            </div>
        </div>
        <script src="vue.js"></script>
        
    </body>
</html>