html, body { 
    width: 100vw; 
    height: auto; 
    min-height: 100%; 
    padding: 0px; 
    margin: 0px; 
    background-color: beige; 
    font-size: 12pt; 
    font-family: 'Arial'; 
}

body {
    display: flex;
    flex-direction: column;
}


.navbar {
    width: 100vw;
    margin: 0 auto 0 auto;
    padding: 1vw;
    background-color: #202040;
    height: 40px;
    display: flex;
    color: aliceblue;
    justify-content: space-around;
}

.navbar h1,
.navbar p {
    display: inline;
    vertical-align: top;
    font-size: 16px;
    line-height: 28px;
}


.navbar h1 {
    margin: auto; 
}

.background {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

.panel-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 480px) {

}

@media (max-width: 768px) {
    
}

.panel {
    width: 80vw;
    height: 500px;
    background-color: white;
    border-radius: 20px;
}