html, body { 
    width: 100vw; 
    height: auto; 
    min-height: 100%; 
    padding: 0px; 
    margin: 0px; 
    background-color: beige; 
    font-size: 12px; 
    font-family: 'Arial'; 
}

body {
    display: flex;
    flex-direction: column;
}


.navbar {
    width: 100vw;
    margin: 0 auto 0 auto;
    padding: 1vw;
    background-color: #202040;
    height: 40px;
    display: flex;
    color: aliceblue;
    position: relative;
    justify-content: center;
    -moz-box-shadow:    0px 3px 5px #888888;
    -webkit-box-shadow: 0px 3px 5px #888888;
    box-shadow:         0px 3px 5px #888888;
}

.appName *,
.navMenu *,
.options * {
    display: inline;
    vertical-align: top;
    font-size: 16px;
    line-height: 28px;
}

.appName {
    position: absolute;
    left: 4vw;
}

.navMenu {
    justify-content: space-between;
}

.navMenu * {
    margin: 0 2vw;
}

.options {
    position: absolute;
    right: 4vw;
}

.options p, .options span {
    margin: 0 1vw;
}

.navbar .appName {
    margin-left: 0;
}

.background {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 480px) {

}

@media (max-width: 768px) {
    
}

.panel {
    width: 80vw;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    -moz-box-shadow:    inset 0 0 10px #888888;
    -webkit-box-shadow: inset 0 0 10px #888888;
    box-shadow:         inset 0 0 10px #888888;
}

/* Panel buttons */

.panel-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panel-nav a{
    font-size: 16px; 
    font-family: 'Arial'; 
    font-weight:bold;
	padding:12px 24px;
	text-decoration:none;
    vertical-align: middle;
	cursor:pointer;
    display:inline-block;
    width: 20%;
}

.deleteBtn {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border:1px solid #d83526;
	color:#ffffff;
	text-shadow:0px 1px 0px #b23e35;
}
.deleteBtn:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.deleteBtn:active {
	position:relative;
	top:1px;
}

.saveBtn {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border:1px solid #268a16;
	color:#306108;
	text-shadow:0px 1px 0px #aade7c;
}
.saveBtn:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.saveBtn:active {
	position:relative;
	top:1px;
}

.editBtn {
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border:1px solid #e65f44;
	color:#c92200;
	text-shadow:0px 1px 0px #ded17c;
}
.editBtn:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
.editBtn:active {
	position:relative;
	top:1px;
}

#textArea {
    width:100%; 
    height:100%;
    display: flex;
    justify-content: center;

}